.header{
    background-color: #4B9DA3;
    height: 50px;
    border-radius: 3px;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0px;
    left:0px;
    line-height: 50px;
    font-weight: 500;
    color: #FFFFFF;

}

.content{
    width: 100%
}

@media (min-width: 960px) {
    .content{
        width: 960px;
        margin: 0 auto;
    }

}

.content div{
    height: 100%;
    display: inline-block;
    font-size: 15px;
}

.content div:nth-child(1){
    width:  50%;
    padding-left: 1%;

}
.content div:nth-child(2){
    width:  50%;
    cursor: pointer;
    text-align: right;

}
