.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card{
    padding: 2%;
    border-radius: 3px;
    margin: 5px;
    font-size: 14px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card > div > div{
    display: inline-block;
    width: 25%;
    text-align: right;
}

.card > div{
    margin: 5px;
    display: flex;
    align-items: center;
}
.card > audio{
    width: 40%;
}
p{
    text-align: right;
    color: lightgray;
}

